.git
__pycache__/
*.pyc
.venv/
.env
backup_db/
contracheques_split_backup/
contracheques_all*.pdf
*.log
# Se você vai montar a pasta dos PDFs como volume (recomendado), ignore-a:
contracheques_split/
